body {
	margin: 0;
	padding: 0;
	background: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/08/329691/big_thumb_3d44f5e1419f400d0f2a19223b136841.jpg) no-repeat;
	background-size: cover;
    background-color: #a9bbc8;
}

.login-box {
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login-box input {
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

/* .login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
} */

/* .login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
} */

.login-box a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.login-box a:hover {
	color: #ffc107;
}

#submit{
    display: flex;
    border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px; 
    width: 100%;
	margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

#submit:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
