* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-style-1: 'Montserrat', sans-serif;
    --text-style-2: 'Exo 2', sans-serif;
    --text-style-3: 'Gugi', cursive;
    --text-style-4: 'Righteous', cursive;
    --text-style-5: 'Rajdhani', sans-serif;

    --bg-color: #121212;
    --second-bg-color: #000;
    --text-color: #ffffff;
    --main-color: #f09036;
}

body {
    padding-top: 20px;
    background-color: var(--bg-color);
    text-align: center;
}

h2 {
    background-color: var(--second-bg-color);
    font-family: var(--text-style-5);
    font-size: 7vw;
    border: .5vw #f09036 solid;
    border-top: none;
    border-bottom: none;
    margin: 50px 0;
}

a {
    text-decoration: none;
    line-height: 1;
}

h1 {
    font-size: 4vw;
    font-family: var(--text-style-4);
}

h3 {
    font-size: 3vw;
}

p {
    font-size: 2vw;
}


/********************* Nav-Bar *********************/
.header {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    max-height: 50px;
}

.sticky {
    position: fixed;
    top: 0;
}

#menu-icon {
    color: var(--text-color);
    font-size: 1.5rem;
    display: none;
}

.logo {
    height: 5rem;
}

.nav {
    display: flex;
    place-items: center;
    column-gap: 3vw;
}

.nav-link {
    padding: 4px 0;
    display: inherit;
    align-items: center;
    gap: .25rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: var(--text-style-3);
}

.nav-link:hover {
    border-top: solid 1px rgb(230, 191, 173);
    border-bottom: solid 1px rgb(230, 226, 173);
}

.nav-link i {
    color: lightblue;
    font-size: 1rem;
}

.nav .join-us {
    display: flex;
    place-items: center;
    gap: .2rem;
    border-radius: 7px;
    border: 1px solid rgb(18, 72, 90);
    padding: 4px 5px;
    font-size: 1.2rem;
    font-family: var(--text-style-1);
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--main-color);
}

.nav .join-us:hover {
    box-shadow: 0 0 .6rem white;
    transition: .2s ease-in-out;
}

.nav-link.active,
.nav-link.active i {
    color: var(--main-color);
}


/********************* Home section *********************/
.home {
    overflow: hidden;
    padding: 40px 12vw;
    color: var(--text-color);
    height: calc(100vh - 73px);
}

.multiple-text {
    color: rgb(191, 107, 39);
}

.home .content-box {
    font-family: var(--text-style-1);
    letter-spacing: 1px;
    text-align: center;
}

.home h1 {
    margin: 1rem auto 3.5rem;
}

.home h3 {
    font-size: 2vw;
    line-height: 1.4;
    margin: 2rem;
}

#h3 {
    margin-top: 0px 0;
}

.home p {
    font-size: 1.5vw;
    margin: 2rem;
}

.home p span {
    color: rgb(191, 125, 39);
    font-weight: 700;
}

.home div a {
    display: inline-block;
    font-family: var(--text-style-3);
    font-size: min(3vw, 1.6rem);
    border: 2px solid var(--bg-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2rem auto;
    cursor: pointer;
    color: var(--second-bg-color);
}

.home div a:hover {
    box-shadow: 0 0 .6rem rgb(161, 135, 95);
    transition: .2s ease-in-out;
}


/********************* testimonials section *********************/

.testimonials {
    min-height: 100vh;
    color: white;
}

.testimonials h3 {
    width: 70%;
    margin: 50px auto;
    font-family: var(--text-style-3);
    background-color: rgb(191, 125, 39);
    color: var(--second-bg-color);
    font-size: 33px;
    line-height: 1.5;
    border: 6px solid #fff;
    border-top: none;
    border-bottom: none;
}

.services {
    padding: 3vw 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .service-box {
    position: relative;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid var(--second-bg-color);
}

.services-heading-1,
.services-heading-2,
.services-heading-3,
.services-heading-4,
.services-heading-5,
.services-heading-6 {
    font-family: var(--text-style-3);
    font-size: 33px;
    position: absolute;
    z-index: 2;
    opacity: 1;
}

.services-heading-1 {
    top: 60px;
    left: 15px;
}

.services-heading-2 {
    top: 40px;
    /* left: 10px; */
}

.services-heading-3 {
    top: 40px;
    /* left: 20px; */
}

.services-heading-4 {
    top: 40px;
    /* left: 20px; */
}

.services-heading-5 {
    top: 45px;
    /* left: 20px; */
}

.services-heading-6 {
    top: 60px;
    left: 47px;
}

.service-box .img {
    width: 300px;
    height: 170px;
}

.service-box .img img {
    opacity: 0.6;
    width: 100%;
    transition: .5s ease;
}

.service-box:hover .img img {
    transform: scale(1.2);
}

.service-box .service-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: .5s ease;
    color: floralwhite;
    font-family: var(--text-style-2);
    text-shadow: 0 0 10px #000;
}

.service-layer h4 {
    display: inline-block;
    font-style: italic;
    font-size: 2vw;
    margin: .3rem 0 .5rem;
    color: white;
}

.service-layer p {
    font-size: 1.5vw;
}

.service-layer a {
    font-family: var(--text-style-3);
    margin: 10px;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    padding: 5px 20px;
    background-color: rgb(191, 107, 39);
    color: #000;
    font-size: 1.4vw;
}

.service-box:hover .service-layer {
    transform: translateY(0);
}

.service-box:hover .img {
    filter: blur(4px);
}

.service-box:hover .services-heading-1,
.service-box:hover .services-heading-2,
.service-box:hover .services-heading-3,
.service-box:hover .services-heading-4,
.service-box:hover .services-heading-5,
.service-box:hover .services-heading-6 {
    visibility: hidden;
}


/********************* Community section *********************/

.community {
    min-height: 100vh;
    color: white;
}

.icon-2 {
    display: none;
}

.line-2 {
    display: none;
}

.community .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    width: 60%;
}

.community .testimonial .line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community .testimonial .line-container .line {
    background-color: #be6c6c;
    width: 7px;
    height: 260px;
    margin: 0 5%;
}

.community .testimonial .line-container .icon {
    margin: 10px;
}

.community .testimonial .line-container .icon i {
    font-size: 5rem;
}

.community .testimonial .line-container .icon:hover {
    text-shadow: 0 0 10px #dbb481;
    transition: .2s ease-in-out;
    transform: scale(1.1);
}

.community .testimonial .text-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.community .testimonial .text-container .text-box:hover {
    transform: scaleY(1.1);
    box-shadow: 0 0 10px #d7d7df;
}

.community .testimonial .text-container .text-box {
    border: 4px rgb(201, 135, 59) solid;
    border-radius: 15px;
    margin: 0 auto auto 20px;
    padding: 20px;
    text-align: left;
    height: 240px;
    transition: .2s ease-in-out;
}

.community .testimonial .text-container .text-box p {
    font-family: var(--text-style-2);
    font-size: 1.6vw;
}

.community .testimonial .text-container .text-box h3 {
    font-size: 2rem;
    font-family: var(--text-style-4);
    line-height: 1.4;
}


/********************* About Us ********************/

.about {
    color: var(--text-color);
}

.about h3 {
    font-family: var(--text-style-1);
}

.about .about-container {
    width: 85%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
    justify-content: center;
}

.about .about-container .profile {
    width: 40%;
    position: relative;
    height: max-content;
    transition: .5s ease;
}

.about .about-container .profile .profile-layer p {
    font-size: 1.1vw;
    margin-bottom: 8px;
}

.about .about-container .profile .profile-top-card {
    position: relative;
    z-index: 9;
    border-radius: 10px;
    border: 4px solid rgb(201, 99, 59);
    margin: auto;
    background-color: var(--second-bg-color);
    font-family: var(--text-style-2);
    display: grid;
    grid-template-columns: 28% 70%;
    padding: 10px;
    column-gap: 1.4vw;
}

.about .about-container .profile .profile-top-card .profile-img {
    margin: auto;
}

.about .about-container .profile .profile-top-card .profile-img img {
    width: 100%;
}

.about .about-container .profile .profile-top-card .wrap-text {
    text-align: left;
    margin: auto;
}

.about .about-container .profile .profile-top-card .wrap-text p {
    margin-bottom: 10px;
    font-size: 1.2vw;
}

.about .about-container .profile .profile-top-card .wrap-text p i {
    color: #be8d6c;
    font-size: large;
    margin-right: 10px;
}

.about .about-container .profile .profile-layer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    height: max-content;
    padding: 50px 10px 20px;
    background: var(--text-color);
    color: var(--second-bg-color);
    font-family: var(--text-style-2);
    text-shadow: 0 0 10px #000;
    transition: .5s ease;
}

.about .about-container .profile:hover {
    z-index: 11;
    transform: translate(-15px, -50px) !important;
}

.about .about-container .profile:hover .profile-layer {
    z-index: -10;
    transform: translate(30px, 6vw);
}



/********************* footer ********************/
footer {
    overflow: auto;
    background-color: #000;
    padding-bottom: 20px;
}

footer .content-box {
    padding: 0 20px 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: space-around;
}

footer p {
    color: var(--text-color);
    font-family: var(--text-style-1);
    font-size: min(3vw, 1.2rem);
    font-weight: bolder;
    margin: 15px auto;
}

footer p:nth-of-type(1),
footer p:nth-of-type(3) {
    color: var(--main-color);
}

footer p:nth-of-type(3) {
    margin-bottom: 20px;
}

footer .form-container {
    width: 90%;
    max-width: 500px;
}

form {
    position: relative;
}

input,
textarea,
button {
    outline: none;
    display: block;
    margin: 20px auto;
    background-color: black;
    color: rgba(255, 255, 255, 0.79);
    font-size: 1.1rem;
    font-family: var(--text-style-2);
    background: none;
}

textarea::placeholder {
    color: lightslategray;
}

input {
    color: rgba(255, 255, 255, 0.79);
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: solid 2px var(--main-color);
}

label {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: var(--text-style-2);
    font-size: 1.1rem;
    color: lightslategray;
    transition: transform 0.2s ease-in-out;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    transform: translateY(-25px) scale(0.9);
    left: 2px;
}

textarea {
    padding: 5px;
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}

button {
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
}

footer .social {
    margin-top: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .social .social-link {
    font-size: 1rem;
    margin: 10px;
    color: var(--text-color);
    font-family: var(--text-style-3);
}

footer .social .social-link i {
    margin-right: 10px;
    font-size: 1.2rem;
}

footer .social .social-link:hover {
    color: var(--main-color);
}

footer a.top-icon {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    font-family: var(--text-style-2);
    color: var(--second-bg-color);
    background-color: rgb(191, 82, 39);
    padding: min(1.3vw, 13px);
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(191, 87, 39);
    font-size: 30px;
    z-index: 100;
}

.top-icon.fixed {
    display: block;
}

/********************* BREAKPOINTS *********************/
@media (max-width: 1350px) {
    h2 {
        font-size: 10vw;
        margin: 60px 0;
    }

    .home {
        height: auto;
    }

    .home p {
        font-size: 1.3rem;
    }

    .testimonials {
        min-height: auto;
        height: auto;
    }

    .community {
        min-height: auto;
    }

    .community .testimonial {
        width: auto;
    }

    .community .testimonial .text-container {
        gap: 70px;
    }

    .community .testimonial .line-container .line {
        height: 200px;
    }

    .community .testimonial .text-container .text-box {
        height: 230px;
        width: 600px;
    }

    .community .testimonial .text-container .text-box p {
        font-family: var(--text-style-2);
        font-size: 22px;
    }

    .community .testimonial .text-container .text-box h3 {
        font-size: 35px;
    }


    .about h3 {
        margin: 70px auto 100px;
    }

    .about .about-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 160px;
    }

    .about .about-container .profile {
        width: 500px;
        transform: translate(-15px, -50px);
    }

    .about .about-container .profile .profile-layer {
        position: absolute;
        top: 145px;
        right: -40px;
        left: 40px;
        padding: 40px 10px 10px;
    }

    .about .about-container .profile .profile-layer p {
        font-size: 16px;
    }

    .about .about-container .profile .profile-top-card {
        grid-template-columns: 27% 70%;
    }

    .about .about-container .profile .profile-top-card .wrap-text p {
        font-size: 20px;
    }

    .about .about-container .profile:hover .profile-layer {
        transform: none;
    }
}

@media(max-width: 1100px) {
    .home {
        padding-top: 50px;
    }

    .about .about-container .profile .profile-top-card .wrap-text p {
        font-size: 20px;
    }

    .about .about-container .profile .profile-layer p {
        font-size: 16px;
    }

    /* .service-box:hover .service-layer{
        transform: none;
    }
    .service-box .service-layer{
        background: none;
    } */

}

@media(max-width: 850px) {
    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .logo {
        margin-left: 5rem;
    }

    .header {
        justify-content: unset;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0%;
        height: 100vh;
        padding: 40px 60px;
        background-color: var(--bg-color);
        display: flex;
        flex-wrap: wrap;
        place-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .4s ease;
        transform: translateX(-100%);
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav .join-us {
        margin: 20px auto auto;
    }

    .nav .nav-link .join-us i {
        color: var(--text-color);
    }

    .home .content-box h1 {
        font-size: 6vw;
    }

    .home .content-box h3 {
        font-size: 3vw;
    }

    .home .content-box p {
        font-size: 1rem;
    }
}

@media(max-width: 760px) {
    .home {
        padding: 40px 20px;
    }

    .community .testimonial .text-container {
        display: block;
    }

    .community .testimonial .line-container {
        display: none
    }

    .community {
        min-height: auto;
    }

    .icon-2 {
        display: block;
        margin-left: 0px;
    }

    .icon-2 i {
        font-size: 5rem;
    }

    .community .testimonial {
        flex-direction: column;
        margin: 60px auto;
        width: 90%
    }

    .community .testimonial .text-container .text-box {
        height: auto;
        width: auto;
        margin: auto;
        margin-bottom: 50px;
        background-color: var(--bg-color);
    }


    .about h3 {
        margin: 0px auto 50px;
    }

    .about .about-container {
        width: 80%;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .about .profile-layer {
        display: none;
    }

    .about .about-container .profile {
        width: auto;
        transform: none;
        z-index: -3;
        text-align: center;
    }

    .about .about-container .profile .profile-img {
        width: 15vw;
    }

    .about .about-container .profile .profile-top-card {
        display: flex;
        flex-wrap: wrap;
    }

    .about .about-container .profile .profile-top-card .wrap-text p {
        font-size: 1rem;
        margin: 7px 20px;
    }

    .about .about-container .profile:hover {
        transform: none;
    }
}